body {
margin: 1em 13px;
font-family: Arial, sans-serif;
font-size: 0.9em;
color: black;
background-color: #EEE;
}

h1 {
color: #C00;
text-align: center;
font-size: 2em;
font-weight: bold;
}

h2 {
margin-left: 0.5em;
font-size: 1.8em;
font-weight: bold;
color: #333;
}

h3 {
margin: 1.5em 1em;
color: #335;
font-size: 1.5em;
font-weight: bold;
}

p {
margin: 0.8em 5px;
}

pre {
border: 2px dashed #FA0;
border-radius: 5px;
padding: 1em 0.8em;
background-color: #EEC;
font-family: monospace;
white-space: pre-wrap;
margin: 1em 0px;
font-size: 1em;
color: #232;
}

code {
font-family: monospace;
font-size: 1em;
color: #225;
}

ul {
margin: 1em 0;
padding-left: 20px;
list-style-type: none;
}

ul li {
line-height: 1.3em;
}

ul li code {
vertical-align: top;
color: #232;
}

p code {
font-size: 1.45em;
letter-spacing: -2px;
}

h3 code {
font-size: 1.2em;
letter-spacing: -2px;
}